body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  margin: 0 auto;
  font-size: 16px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin: 10px auto;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  margin: 0px auto;
  padding: 10px;
  text-align: center;
}

button {
  display: block;
  background: white;
  margin: 0px auto;
  border: 1px solid #eee;
  padding: 10px;
}

/* I avoided looking at the hints except for the title font size, hence the 
discrepancy with the solution. In my opinion, the hints are too helpful for 
this exercise and the previous one. It's more beneficial to not look at them so 
you're really writing your own code. */